# Secrets - NE JAMAIS commiter
.env
.env.local
*.pem
*.key

# Java / Maven
target/
*.jar
*.war
*.class
*.log

# IDE
.idea/
.vscode/
*.iml
*.xml.versionsBackup

# OS
.DS_Store
Thumbs.db

# Temp
*.tmp
*.bak
